.account-buttons-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.account-button {
  border-radius: 15px;
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  color: white;
  padding: 20px;
  font-weight: 100;
  font-size: 25px;
}