.hide-balance-button {
  border-radius: 9999px;
  align-self: flex-end;
  margin-right: 50px;
  margin-bottom: 10px;
  background-color: #1c1c1c;
  border-color: #1c1c1c;
}

.hide-balance-button-icon {
  width: 25px;
  height: 25px;
}